
@media screen and (max-width:950px){
    .header-top{
        display: block;
        padding-top: 60px;
    }

    .logo{
        margin: 0 auto;
    }
    .main-nav {
        border-top: #ebebeb solid 2px;
        border-left:none;
    }

    .form {
        max-width: 80%;
    }

    .form-row {
        width: 100%;
    }
    .block-features {
        height: 1000px;
    }
    .features-boxes .box{
        max-width: 45%;
        margin-bottom: 25px;
    }

    .features-boxes .box p {
        margin: 0 auto;
    }

    .block-services {
        margin-top: 0;
    }

    .clients-opinion .item {
        max-width: 43%;
        margin-top: 30px;
        padding-top: 30px;
    }
}
@media screen and (max-width:750px) {
    .header-inner {
        display: block;
        text-align: center;
    }

    .main-block {
        padding-bottom: 33px;
    }

    .main-block h1 {
        font-size: 40px;
    }
    .form button {
        display: block;
        margin: 20px auto 10px;

    }

    .block-services{
        background:  linear-gradient(to bottom, #202242 0%,#202242 51%,#ffe13e 51%,#ffe13e 100%);
    }

    .services-inner {
        display: block;
    }

    .dm-services {
        padding-top: 15px;
    }

    .services-inner .services{
        max-width: 85%;
    }

}

@media screen and (max-width: 480px) {
    .body {
        font-size: 14px;
    }

    .header-top{
        display: block;
        padding-top: 60px;
    }

    .logo{
        vertical-align: middle;
        margin: 0 auto;
    }

    .main-block{
        padding-bottom: 1px;
    }

    .form {
        max-width: 100%;
    }

    .form-row {
        width: 100%;
    }

    .form-row input {
        padding: 0 25px 0;
    }
    .block-features {
        height: 1000px;
    }
    .features-boxes .box{
        max-width: 80%;
        margin: 30px auto 30px;
    }

    .features-boxes .box p {
        margin: 0 auto;
    }

    .block-services {
        margin-top: 0;
    }

    .clients-inner {
        margin-top: 800px;
    }

    .clients-inner{
        display: block;
    }
    .clients-inner .info {
       max-width: 80%;
       text-align: center;
       margin: 10px auto 10px;
    }

    .clients-opinion .item {
        max-width: 80%;
        margin-top: 30px;
        padding-top: 30px;
    }
}  
    
